*{
  padding: 0;
  margin: 0;
}

.main{
  width: 100%;
  height: 109vh;
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(tech.jpg);
  background-size: cover;
  background-position: center;
}

.navbar{
  height: 75px;
  width: 1200px;
  margin: auto;
  background-color: blue;
}

.icon{
  width: 200px;
  height: 70px;
  float: left;
  background-color: antiquewhite;
}

.logo{
  font-size: 55px;
  color: #ff7200;
  padding-left: 20px;
  float: left;
  margin-top: 5px;
}

.menu{
  height: 70px;
  width: 500px;
  background-color: aqua;
  float: left;
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

ul li{
  list-style: none;
  font-size: 14px;
  margin-left: 62px;
  margin-top: 27px;
}

ul li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover{
  color: #ff7200;
}